# Imports

In [21]:
import pandas as pd
import numpy as np

# Dataset

In [57]:
df = pd.read_csv("../data/raw/household_power_consumption.txt", sep=";")

C:\Users\Administrador\AppData\Local\Temp\ipykernel_18288\853119337.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/household_power_consumption.txt", sep=";")

In [58]:
df.keys()

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [59]:
df_standar = df.replace("?", np.nan)
cols = df_standar.columns[2:8]

for c in cols:
    df_standar[c] = pd.to_numeric(df_standar[c], errors="coerce")

In [60]:
df_standar["datetime"] = pd.to_datetime(df_standar["Date"] + " " + df_standar["Time"], format="%d/%m/%Y %H:%M:%S")

In [69]:
df_standar.drop(columns=["Time", "Date"])

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,datetime
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
...,...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00